      body {background-image: url('imagenes/background.jpg');}

      p {text-indent: 1.5em;}

      img {margin:0px;}

      h1 {text-align: center;}

      #wrapper {width: 1200px;
                margin: 0 auto;
                top: 0px;
                border: 5px solid black;}

      #login {width: 100px;
              border: 2px solid black;
              background-color: grey;
              position: relative;
              top: 10px;
              left: 1080px;
              font-family: 'Exo 2', sans-serif;
              padding: 5px;
              font-color: black;
              font-size: 20px;}
  
      #header {width: 1200px;
      	       height: 330px;
      	       background-image: url('imagenes/Header.jpg');}

      #titulo {position: relative;
               top: 50px;
               left: 85px;
               color: white;
               font-size: 90px;
               font-family: 'Anton', sans-serif;
               text-shadow:3px 3px 0px black;}

      #Subtitulo {position: relative;
                  top: 10px;
                  left: 0px;
                  color: white;
                  font-size: 28px;
                  font-family: 'Anton', sans-serif;
                  text-shadow: 2px 2px 1px black;}

      #nav,#footer    {background-color: rgb(142,108,74);
      	               text-align: center;
      	               padding: 10px;
      	               font-weight: bold;
                       border-top: 2px solid black;
                       border-bottom: 2px solid black;}

      #nav {font-family: 'Fjalla One', sans-serif;
            font-size: 30px;}

      #footer {font-family: Arial,Verdana,sans-serif;
               font-size: 75%;
               margin-top: -16px;
               margin-left: 0px;}

      #main,#container {background-color: white;
               padding: 15px;
               text-align: justify;
               color: black;
               font-family: 'Exo 2', sans-serif;}
      
      #panel {border: 2px solid black;
              padding-left: 15px;
              margin-left: 20px;
              width: 450px;
              background-color: rgb(245,245,245)}

      #imagenIndex {float: right;
                    margin-top: -85px;
                    margin-right: 50px;
                    opacity: 0.61;}
      
      #imagenForm {float: right;
                   margin-top: -365px;
                   margin-right: 280px;
                   opacity: 0.61;}
      
      #imagenIndex2 {border: 2px solid black;}

      #imagenIndex3 {border: 2px solid black;
                     float: right;}

      #imagenes {text-align: center;
                 margin-top: 10px;
                 margin-bottom: 25px;}

      #tablaLogos {margin-left: 7px;
                   margin-top: 20px;
                   margin-bottom: 15px;}

      #titulo2 {color: black;
                text-align: center;
                font-size: 1.6em;
                padding: 10px;
                font-family: 'Anton', sans-serif;}

      #contactoMapa {width: 560px;
                     margin-left: 10px;
                     margin-bottom: 20px;}
      
      #contactoForma {width: 550px;
                      float: right;
                      margin-top: -562px;
                      margin-right: 10px;
                      padding-left: 10px;}

      #nav a {color:black;
              text-decoration: none;}

      #nav a:hover {color: white;}
      
      #panel a {color:black;
                text-decoration: none;}

      #panel a:hover {color: rgb(142,108,74);}
     
      .nuevoProducto {
          margin: 0.5rem 0 0 2rem;
          width: 20rem;
      }
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    background-color: white;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    display: inline-block;
    }

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 112px;
}

div.desc {
    padding: 15px;
    text-align: center;
}


